@import "../variables";

#console {
  p {
    color: $primary;
    font-size: 27px;
    overflow: hidden;
    white-space: nowrap;
  }

  .animate {
    animation: typing 4s steps(70, end);
  }

  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
